<!doctype html>
<html ng-app="ChildSoldier">
    <head>
        <!--CSS related content-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Child Soldier</title>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">

        <link rel="stylesheet" href="assets/css/childsoldier.css">
        <link rel="stylesheet" href="assets/css/animations.css">
        <link rel="stylesheet" href="assets/css/map.css">
        <link rel="stylesheet" href="assets/css/legend.css">

        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

    </head>

    <!-- This is used for the nested sections -->
    <script type="text/ng-template"  id="section_renderer">
        <div><a ng-click="selectSection(section)">{{section.title}}</a></div>
        <div ng-if="openSections.indexOf(section.id) != -1">
            <div ng-bind-html="section.content"></div>
            <ul>
                <li ng-repeat="section in section.children" ng-include="'section_renderer'"></li>
            </ul>
            </div>
    </script>

    <body id="homepage" class="homepage" ng-controller="MainCtrl as vm">

        <div class="container-fluid">
            <div class="row" ng-controller="MapCtrl as mm">
                <!--Map panel are the buttons in the right top corner that control the view of the map and the legend/filter div-->
                <!--On-click the value of the report panel will change-->
                <div class="map_panel row" ng-hide="vm.mainPage">
                    <div class="hide_btn col-xs-6" ng-click="vm.changeReportSize()"></div>
                    <div class="filter_btn col-xs-6" ng-click="mm.switchFilterVisible()"></div>
                </div>

                <!--Side bar that contains all of the countries that have reports-->
                <div class="col-sm-3 col-md-2 sidebar">
                    <a ng-click="vm.changeBackground('home'); vm.setCurrentCountry(null); mm.setCurrentMap(null)"><img class="logo" src="assets/img/logo.png"></a>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="country in vm.countries" ng-class="{'active':vm.isCurrentCountry(country)}">
                            <a ng-click="vm.changeBackground('tab'); vm.setCurrentCountry(country); mm.setCurrentMap(country)">
                                {{country.name}}
                            </a>
                        </li>
                    </ul>
                    <img class="sidebar-footer" src="assets/img/dal_logo.png">
                </div>

                <!--Main window sitting right to the sidebar containing the report tabs div and the map/filter div-->
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row" ng-hide="vm.mainPage">

                        <!-- REPORT TABS SECTION -->
                        <div class="col-xs-6 row" ng-style="vm.reportPanel">
                            <div class="col-xs-11 scrollable">
                                <h1 align="center"> {{vm.currentCountry.name}} </h1>
                                <md-content>
                                    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>

                                        <!--The report tab. Responsible for displaying each countries report.-->
                                        <md-tab label="Reports">
                                            <md-content class="md-padding">
                                                <h6 class="md-title">Reports</h6>
                                                <div ng-class="{active: vm.isSelectedReport(report.id)}" ng-show="vm.currentCountry != null"
                                                    ng-repeat="report in vm.reports | filter:{country:vm.currentCountry.id}"
                                                    class="active tab-pane fade in" id="tab1">
                                                    <a ng-click="vm.setCurrentReport(report)" target="_blank">
                                                        {{report.title}} - {{report.subtitle}}
                                                    </a>

                                                    <!--See section_renderer script near the top for more info on showing each report.-->
                                                    <div ng-repeat="section in vm.sections | filter:{report:vm.currentReport.id}"
                                                    ng-show="vm.currentReport != null"
                                                    ng-include="'section_renderer'">
                                                    </div>
                                                </div>
                                            </md-content>
                                        </md-tab>

                                        <!--Placeholder 2 tab for the next iteration-->
                                        <md-tab label="Placeholder">
                                            <md-content class="md-padding">
                                                <h6 class="md-title">Title for Tab 2 Content</h6>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>

                                        <!--Placeholder 2 tab for the next iteration-->
                                        <md-tab label="Placeholder">
                                            <md-content class="md-padding">
                                                <h6 class="md-title">Title for Tab 3 Content</h6>
                                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </div>
                        </div>

                        <!--MAP/FILTER SECTION-->
                        <div ng-show="vm.mapVisible" class="row col-xs-6 map_div">
                            <!--ng-show when the filter boolean is changed. The boolean is changed when it filter button is pressed.-->
                            <div class="panel panel-default col-xs-6 filter" ng-show="mm.showFilter">
                                <div class="legend-filter">
                                    <div class="legend-title">Filter by Type: </div>
                                    <!--Incident legend and filter-->
                                    <div class="legend-scale panel-body">
                                        <!--Contains each filter button. These filters will turn specific markers on the map on and off.-->
                                        <ul class="legend-labels">
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_1" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(1)">
                                                        <img src="assets/img/murder_maiming_legend.png" alt="Killing and Maiming Icon">
                                                    </button>
                                                    Killing/Maiming of children
                                                </p>
                                            </li>
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_2" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(2)">
                                                        <img src="assets/img/recruitment_legend.png" alt="Recruitment Icon">
                                                    </button>
                                                    Recruitment/Use of child soldiers
                                                </p>
                                            </li>
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_3" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(3)">
                                                        <img src="assets/img/sexual_violence_legend.png" alt="Sexual Violence Icon">
                                                    </button>
                                                    Sexual violence against children
                                                </p>
                                            </li>
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_4" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(4)">
                                                        <img src="assets/img/attack_legend.png" alt="Attack Against School or Hospital Icon">
                                                    </button>
                                                    Attacks against schools or hospitals
                                                </p>

                                            </li>
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_5" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(5)">
                                                        <img src="assets/img/hum_denial_legend.png" alt="Denial of Humanitarian Aid Icon">
                                                    </button>
                                                    Denial of humanitarian access
                                                </p>
                                            </li>
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_6" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(6)">
                                                        <img src="assets/img/abduction_legend.png" alt="Abduction Icon">
                                                    </button>
                                                    Abduction of children
                                                </p>
                                            </li>
                                            <li>
                                                <p class="textStyle">
                                                    <button id="hotspot_7" class="btn btn-primary btn-xs"  ng-click="mm.filterHotspots(7)">
                                                        <img src="assets/img/other_legend.png" alt="Other Icon">
                                                    </button>
                                                    Other
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="legend-title"> Filter by Date: </div>
                                    <!--Contains the date filter. Responsible for filtering markers on the map based on when the event that the marker represents occured.-->
                                    <form>
                                        <md-content>
                                            <label class="dateLabel">Starting Date</label>
                                            <br/>
                                            <md-datepicker ng-model="startingInput.value" md-placeholder="mm/dd/yyyy"></md-datepicker>
                                            <md-button class="md-icon-button md-primary" aria-label="Clear Date" ng-click="mm.clearStartingDate()">
                                                <img class="png-icon" src="assets/img/clear_button.png" style="width: 12px; height: 12px;">
                                            </md-button>
                                            <br/>
                                            <p id="startDateClearMessage"> </p>
                                            <label class="dateLabel">Ending Date</label>
                                            <br/>
                                            <md-datepicker ng-model="endingInput.value" md-placeholder="mm/dd/yyyy"></md-datepicker>
                                            <md-button class="md-icon-button md-primary" aria-label="Clear Date" ng-click="mm.clearEndingDate()">
                                                <img class="png-icon" src="assets/img/clear_button.png" style="width: 12px; height: 12px;">
                                            </md-button>
                                            <br/>
                                            <p id="endDateClearMessage"> </p>
                                        </md-content>
                                        <br/>
                                        <p id="errorMessage"> </p>
                                    </form>
                                </div>
                            </div>

                            <!--The actual map directive. The center is marked to the current country in the map controller.-->
                            <!--The markers are in the map controller as well.-->
                            <leaflet class="map col-xs-11" center="mm.country" markers="mm.markers"></leaflet>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--The dependencies needed to run the website-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        <!--Main script containing controllers and etc.-->
        <script src="app/childsoldier.js"></script>
    </body>
</html>