<!doctype html>
<html ng-app="ChildSoldier">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Child Soldier</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">

        <link rel="stylesheet" href="assets/css/childsoldier.css">
        <link rel="stylesheet" href="assets/css/animations.css">
        <link rel="stylesheet" href="assets/css/map.css">
        <link rel="stylesheet" href="assets/css/legend.css">
    </head>

    <!-- This is used for the nested sections -->
    <script type="text/ng-template"  id="section_renderer">
        <div><a ng-click="selectSection(section)">{{section.title}}</a></div>
        <div ng-if="openSections.indexOf(section.id) != -1">
            <div ng-bind-html="section.content"></div>
            <ul>
                <li ng-repeat="section in section.children" ng-include="'section_renderer'"></li>
            </ul>
            </div>
    </script>

    <body ng-controller="MainCtrl as vm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <a ng-click="vm.setCurrentCountry(null)"><img class="logo" src="http://i.imgur.com/g46lyl6.png"></a>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="country in vm.countries" ng-class="{'active':vm.isCurrentCountry(country)}">
                            <a ng-click="vm.setCurrentCountry(country)">
                                {{country.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div ng-class="{active: vm.isSelectedReport(report.id)}"
                         ng-show="vm.currentCountry != null"
                         ng-repeat="report in vm.reports | filter:{country:vm.currentCountry.id}">
                        <a ng-click="vm.setCurrentReport(report)" target="_blank">{{report.title}} - {{report.subtitle}}</a>
                    </div>
                    <hr/>
                    <div ng-repeat="section in vm.sections | filter:{report:vm.currentReport.id}"
                         ng-show="vm.currentReport != null"
                         ng-include="'section_renderer'">
                    </div>
                    <div ng-controller="MapCtrl as map"
                        ng-show="vm.mapVisible">
                        <!--Div of the map, with the script that loads icon objects and adds them to the map-->
                        <leaflet class="map" center="syria" markers="markers"></leaflet>

                        <!--Non-angular solution for map-->
                        <!--<script>-->

                            <!--&lt;!&ndash;Instantiating icon objects using their respective png images&ndash;&gt;-->
                            <!--var redIcon = L.icon({iconUrl: 'assets/img/killing_marker.png'});-->
                            <!--var yellowIcon = L.icon({iconUrl: 'assets/img/abduction_marker.png'});-->

                            <!--&lt;!&ndash;Test version of possible Hotspots which will be pulled from DB&ndash;&gt;-->
                            <!--var hotspotsKillings = [-->
                                <!--[36.8021, 36.9968],-->
                                <!--[35, 36]-->
                            <!--];-->
                            <!--var hotspotsAbductions = [-->
                                <!--[34, 39],-->
                                <!--[35.8021, 42.9968],-->
                            <!--];-->

                            <!--&lt;!&ndash;Setting up of the map&ndash;&gt;-->
                            <!--var map = L.map('map').setView([34.8021, 38.9968], 7);-->
                            <!--mapLink =-->
                                    <!--'<a href="http://openstreetmap.org">OpenStreetMap</a>';-->
                            <!--L.tileLayer(-->
                                    <!--'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {-->
                                        <!--attribution: '&copy; ' + mapLink + ' Contributors',-->
                                        <!--maxZoom: 18,-->
                                    <!--}).addTo(map);-->

                            <!--&lt;!&ndash;Iterates through the arrays of hotspots and adds the respective markers&ndash;&gt;-->
                            <!--for (var i = 0; i < hotspotsKillings.length; i++) {-->
                                <!--marker = new L.marker([hotspotsKillings[i][0],hotspotsKillings[i][1]], {icon:redIcon})-->
                                        <!--.bindPopup(hotspotsKillings[i][0])-->
                                        <!--.addTo(map);-->
                            <!--}-->

                            <!--for (var i = 0; i < hotspotsAbductions.length; i++) {-->
                                <!--marker = new L.marker([hotspotsAbductions[i][0],hotspotsAbductions[i][1]], {icon:yellowIcon})-->
                                        <!--.bindPopup(hotspotsAbductions[i][0])-->
                                        <!--.addTo(map);-->
                            <!--}-->

                        <!--</script>-->
                    </div>
                    <div class="color-legend" style="margin-top:50px;">
                        <div class="legend-title">Incidents Color legend</div>
                        <div class="legend-scale">
                            <ul class="legend-labels">
                            	<li><span style="background:#ff0000;"></span>Killing and maiming of children</li>
                            	<li><span style="background:#e2552b;"></span>Recruitment or use of children as soldiers</li>
                            	<li><span style="background:#ff8428;"></span>Sexual violence against children</li>
                              <li><span style="background:#ffa726;"></span>Attacks against schools or hospitals</li>
                              <li><span style="background:#ffb72b;"></span>Denial of humanitarian access for children</li>
                              <li><span style="background:#ffa81f;"></span>Abduction of children</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.js"></script>


        <script src="app/childsoldier.js"></script>

    </body>
</html>