<!doctype html>
<html ng-app="ChildSoldier">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Child Soldier</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/css/childsoldier.css">
        <link rel="stylesheet" href="assets/css/animations.css">
        <link rel="stylesheet" href="assets/css/map.css">
    </head>

    <!-- This is used for the nested sections -->
    <script type="text/ng-template"  id="section_renderer">
        <div><a ng-click="selectSection(section)">{{section.title}}</a></div>
        <div ng-if="openSections.indexOf(section.id) != -1">
            <div ng-bind-html="section.content"></div>
            <ul>
                <li ng-repeat="section in section.children" ng-include="'section_renderer'"></li>
            </ul>
            </div>
    </script>

    <body ng-controller="MainCtrl as vm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <a ng-click="vm.setCurrentCountry(null)"><img class="logo" src="http://i.imgur.com/g46lyl6.png"></a>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="country in vm.countries" ng-class="{'active':vm.isCurrentCountry(country)}">
                            <a ng-click="vm.setCurrentCountry(country)">
                                {{country.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div ng-class="{active: vm.isSelectedReport(report.id)}"
                         ng-show="vm.currentCountry != null"
                         ng-repeat="report in vm.reports | filter:{country:vm.currentCountry.id}">
                        <a ng-click="vm.setCurrentReport(report)" target="_blank">{{report.title}} - {{report.subtitle}}</a>
                    </div>
                    <hr/>
                    <div ng-repeat="section in vm.sections | filter:{report:vm.currentReport.id}"
                         ng-show="vm.currentReport != null"
                         ng-include="'section_renderer'">
                    </div>
                    <div class="angular-google-map-container"
                        ng-show="vm.mapVisible">
                        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' control='vm.myMap'></ui-gmap-google-map>
                    </div>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.js"></script>
        <script src="https://rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.3/angular-google-maps.js"></script>

        <script src="app/childsoldier.js"></script>

    </body>
</html>