.map_div {
    padding-right: 0;
    padding-left: 0;
}

.map {
    height: 100vh;
    width: 103%;
    position: absolute;
}

.map_panel {
    height: 30px;
    width: 60px;
    padding: 0;
    position: fixed;
    top: 5%;
    right: 5%;
    -webkit-box-shadow: 3px 3px 3px #666666;
    -moz-box-shadow: 3px 3px 3px #666666;
    box-shadow: 3px 3px 3px #666666;
    background: #466b8b;
    border-radius: 5px;
    z-index: 9999;
}

.filter_btn {
    height: 30px;
    width: 30px;
    position: relative;
    padding: 0;
    content: url(../img/filter_icon.png);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
}

.filter_btn:hover {
    background: #4e92ce;
    background-image: -webkit-linear-gradient(top, #4e92ce, #3498db);
    background-image: -moz-linear-gradient(top, #4e92ce, #3498db);
    background-image: -ms-linear-gradient(top, #4e92ce, #3498db);
    background-image: -o-linear-gradient(top, #4e92ce, #3498db);
    background-image: linear-gradient(to bottom, #4e92ce, #3498db);
    text-decoration: none;
}

.hide_btn {
    height: 30px;
    width: 30px;
    position: relative;
    padding: 0;
    content: url(../img/show_icon.png);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 0;
}

.hide_btn:hover {
    background: #4e92ce;
    background-image: -webkit-linear-gradient(top, #4e92ce, #3498db);
    background-image: -moz-linear-gradient(top, #4e92ce, #3498db);
    background-image: -ms-linear-gradient(top, #4e92ce, #3498db);
    background-image: -o-linear-gradient(top, #4e92ce, #3498db);
    background-image: linear-gradient(to bottom, #4e92ce, #3498db);
    text-decoration: none;
}